html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#participate, #how-to {
    background-color: #501B1D;
}

.light {
    background-color: #ffffff;
    border-top: 5px solid #501B1D;
    border-bottom: 5px solid #501B1D;
}

.dark {
    background-color: #ffffff;
}

.image-header {
    font-family: "Montserrat", arial;
    text-align: center;
    text-decoration: underline;
    text-size: 20px;
}

#section-reduced-heading {
    font-family: "Montserrat", arial;
    text-align: center;
    text-decoration: underline;
    text-size: 20px;
}

.image-breakdown {
    font-family: "Montserrat", arial;
    text-align: center;
    padding: 10px;
}

.nested-container {
    margin: 0px auto;
    background-color: #ffffff;

    border-radius: 25px;
}

.main-header {
    font-family: "Montserrat", arial;
    text-align: center;
    text-decoration: underline;
    font-color: #2E1114;
}

.sub-header {
    font-family: "Raleway", arial;
    text-align: center;
    font-color: #2E1114;
}

.login-prompt {
    font-family: "Raleway", arial;
    text-align: center;
}

form {
    text-align: center;
}

input {
    font-family: "Montserrat", arial;

    font-size: 20px;
    text-align: center;

    padding: 10px;
    margin: 10px 0px;


    width: 75%;

    border: 1px solid #E0E0E0;

    outline-color: transparent;
    outline-style: none;
}

.invalid-container {
    background-color: #AF0606;

    width: 75%;

    margin: 10px auto;
}

.left {
    text-align: left;
}

.under-footer {
    font-family: "Raleway", arial;
    text-align: center;
    margin: 10px;
    padding: 0px;
}

#error-message {
    font-family: "Montserrat", arial;

    font-size: 18px;
    text-align: center;

    color: white;

    margin: 25px;

}

.image-container-dark {
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 10px;

    border: 3px solid #64485C;
}

.login-template {
    border: 3px solid #64485C;
}

.under-section {
    padding: 25px;
}

.login-header {
    padding: 25px;
}

.login-title {
    padding: 50px;
}

.image-container-light {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 25px;

    border: 3px solid #64485C;
}

.no-border {
    border: 0px;
    border-radius: 0px;
}

.white {
    color: white;
}

.white-bg {
    background-color: white;
}

.login-link {
    color: #ffffff;
}

.login-link:hover {
    color: #ffffff;
}

.login-link-dark {
    color: #333;
}

.login-link-dark {
    color: #333;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    .content {
        padding: 10px;
    }

    .main-header {
        font-size: 20px;
    }

    .sub-header {
        font-size: 15px;
    }

    .image-container-light {
        margin: 10px auto;
    }

    .image-container-dark {
        margin: 10px auto;
    }

    .participating-company-image {
        height: 150px;
        width: 150px;
    }

    .benefits-scheme-image {
        height: 150px;
        width: 150px;
    }

    #rewards-card-image {
        height: 200px;
        width: 200px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .content {
        padding: 25px;
    }

    .main-header {
        font-size: 30px;
    }

    .sub-header {
        font-size: 15px;
    }

    .image-container-light {
        margin: 20px auto;
    }

    .image-container-dark {
        margin: 20px auto;
    }

    .participating-company-image {
        height: 150px;
        width: 150px;
    }

    .benefits-scheme-image {
        height: 150px;
        width: 150px;
    }

    #rewards-card-image {
        height: 200px;
        width: 200px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .content {
        padding: 50px;
    }

    .main-header {
        font-size: 40px;
    }

    .sub-header {
        font-size: 25px;
    }

    .image-container-light {
        margin: 20px auto;
    }

    .image-container-dark {
        margin: 20px auto;
    }

    .participating-company-image {
        height: 125px;
        width: 125px;
    }

    .benefits-scheme-image {
        height: 125px;
        width: 125px;
    }

    #rewards-card-image {
        height: 175px;
        width: 175px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .content {
        padding: 100px;
    }

    .main-header {
        font-size: 50px;
    }

    .sub-header {
        font-size: 25px;
    }

    .image-container-light {
        margin: 40px auto;
    }

    .image-container-dark {
        margin: 40px auto;
    }

    .participating-company-image {
        height: 125px;
        width: 125px;
    }

    .benefits-scheme-image {
        height: 125px;
        width: 125px;
    }

    #rewards-card-image {
        height: 200px;
        width: 200px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .content {
        padding: 100px;
    }

    .main-header {
        font-size: 50px;
    }

    .sub-header {
        font-size: 30px;
    }

    .image-container-light {
        margin: 50px auto;
    }

    .image-container-dark {
        margin: 50px auto;
    }
    .participating-company-image {
        height: 175px;
        width: 175px;
    }

    .benefits-scheme-image {
        height: 175px;
        width: 175px;
    }

    #rewards-card-image {
        height: 250px;
        width: 250px;
    }

}

/* NAVBAR STYLING */
.nav-background {
    background-color: #ffffff;
}

.nav-theme a {
    color: #283018;
    font-family: "Raleway", arial;

    padding: 10px;
}

.nav-theme a:hover {
    color: #333;
}
/* END OF NAVBAR STYLING */

/* COMPANY IMAGES */
.participating-company-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 30px auto;



}

#apple {
    background-image: url("../images/apple-logo.png");
}

#carphone {
    background-image: url("../images/carphone-warehouse.jpg");
}

#costa {
    background-image: url("../images/costa-logo.jpg");
}

#google-play {
    background-image: url("../images/google-play-logo.png");
}

/* END OF COMPANY IMAGES */

/* BENEFITS AND SCHEMES IMAGES */
.benefits-scheme-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 30px auto;
}

#money {
    background-image: url("../images/money.png");
}

#home {
    background-image: url("../images/house.png");
}

#phone {
    background-image: url("../images/phone.jpg");
}
/* END OF BENEFITS AND SCHEMES IMAGES */

/* LOYALTY CARD */
#rewards-card-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 30px auto;

    background-image: url("../images/shopping.png");
}

/* END OF LOYALTY CARD */

/* LOGIN SECTION */
.login-button {
    height: 100px;
    width: 50%;

    background-color: #501B1D;

    border-radius: 25px;

    margin: 50px auto;

    cursor: pointer;

    border: 3px solid #ffffff;
}

.button-text {
    font-family: "Montserrat", arial;
    text-align: center;
    text-size: 20px;

    position: relative;
    top: 30%;
    color: #ffffff;
}

#attempt-login {
    margin: 25px auto;
}

/* END OF LOGIN SECTION */

/* FOOTER STYLING */
#footer {
    background-color: #2E1114;
}

.footer-heading {
    font-family: "Montserrat", arial;
    text-align: center;
    text-size: 18px;

    color: #ffffff;

    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-item {
    font-family: "Raleway", arial;
    text-align: center;
    text-size: 12px;

    color: #ffffff;

    padding: 10px;

    cursor: pointer;
}

/* END OF FOOTER STYLING */

